<header class="bg-sky-800 text-white shadow-md">
    <nav class="container mx-auto px-6 py-7 flex justify-between items-center">
        <h1 class="text-3xl font-bold tracking-tight">TecnoTrópolis <span class="text-amber-500">News</span></h1>
        <ul class="flex space-x-8 text-sm font-stretch-90%">
            <li class=" hover:text-amber-500 text-white text-base"><a routerLink="">Início</a></li>
            <li class="hover:text-amber-500 text-white text-base"><a routerLink="situacao">Situação</a></li>
            <li class="hover:text-amber-500 text-white text-base"><a routerLink="curiosidade">Curiosidades</a></li>
            <li class="hover:text-amber-500 text-white text-base"><a routerLink="solucao">Solução</a></li>
        </ul>
    </nav>
</header>
