<header class="bg-gray-900 text-white shadow-md">
    <nav class="container mx-auto px-6 py-7 flex justify-between items-center">
        <h1 class="text-3xl font-bold tracking-tight">NovaTech <span class="text-red-600">News</span></h1>
        <ul class="flex space-x-8 text-sm font-stretch-90%">
            <li class=" hover:text-blue-500 text-white text-base"><a routerLink="">Início</a></li>
            <li class="hover:text-blue-500 text-white text-base"><a routerLink="tutorials">Tutoriais</a></li>
            <li class="hover:text-blue-500 text-white text-base"><a routerLink="documents">Documentação</a></li>
            <li class="hover:text-blue-500 text-white text-base"><a routerLink="bio">Biografia</a></li>
        </ul>
    </nav>
</header>
